@import 'spina';
.article-status {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  width: 7px;
  transition: all 0.2s;
  &.live {
    background-color: $primary-color;
  }
  &.draft {
    background-color: #c3c3c3;
  }
  &.scheduled {
    background-color: #65b2b4;
  }
}

.dd-item:hover {
  .article-status {
    opacity: 0.7;
    width: 9px;
  }
}
