.filters
  = link_to spina.new_admin_article_path, class: 'button button-primary' do
    = icon('plus')
    New Article

.dd#pages_list
  - if @articles.any?
    %ol.dd-list
      = render partial: 'article', collection: @articles
  - else
    %em No articles yet
